{% extends 'shared/base.html' %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% block content %}

{% for p in products   %}
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">
                <!-- Start Main-Slider -->
                <div class="row mb-3">
                                <!-- Start Product-Slider -->
                                <div class="col-12 px-res-0">
                                    <div class="product-carousel carousel-md owl-carousel owl-theme">
                                        <div class="item">
                                            <div class="product-card">
                                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                    </div>
                                                    <div class="discount">
                                                        <span>20%</span>
                                                    </div>
                                                </div>
                                                <a class="product-thumb" href="{% url 'product:single' slug=p.slug %}">
                                                    <img src="{{ p.picture.url }}" alt="Product Thumbnail">
                                                </a>
                                                <div class="product-card-body">
                                                    <h5 class="product-title">
                                                        <a href="shop-single.html">{{p.title}}</a>
                                                    </h5>
                                                    <h5>{{p.short_description}}</h5>
                                                    <span class="product-price">{{p.price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    
                                <!-- End Product-Slider -->

                            </div>

                    </div>
                        </div>
                    </div>
                </div>

{% endfor   %}
{%endblock content%}